<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="http://lorempixel.com/400/200/">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>